extends ../layout-home
block content
    .container
        .container.container-fluid
          .row
            .col-lg-12
              .page-header.text-center
                a(href="#")
                  img(src="#", width='48')
                h1.text-center
                  | INSTALLS
                  br
                  a.onmap(title='Mapa', href="/installs/map")
          // Pesquisa
          .row.filter
            .col-lg-4.col-md-6.col-sm-8.col-xs-10.col-lg-offset-4.col-md-offset-3.col-sm-offset-2.col-xs-offset-1
              .input-group.input-group-sm
                input#search.form-control(type='text', placeholder='Pesquisar', oninput='search()')
                span.input-group-btn
                  button#erase.btn.btn-default(type='button', title='Limpar pesquisa', onclick='cleanSearch()', disabled='')
                    span.glyphicon.glyphicon-remove
                  button#sort.btn.btn-default(type='button', title='Ordem cronológica', onclick='sortResults()')
                    span.glyphicon.glyphicon-sort
          .row.listInstalls
            .col-xs-6.col-md-3.portfolio-item
              a#newInstall(href="/installs/new/")
                .elemListInstall
                  img.img-responsive(src="#")
                  div New Install
            // Lista de Projetos
            each install in installs
                .col-xs-6.col-md-3.install-thumbnail(id='install-#{install.id}')
                  // Imagem
                  a(href="/installs/"+install.id, title='#{install.name}')
                    if install.name
                        .elemListInstall(style="background-image: url() }});")
                    else
                        .elemListInstall(style="background-image: url(); background-size: contain;")
                    img.img-responsive(src="")
                    .name #{install.name}
                  .elem_installs
                    ul.navlist
                      li.editar(title='Editar')
                        a(href="/installs/"+install.id+"/edit")
                      li.eliminar(title='Apagar')
                        form(action="/installs/destroy" method="POST")
                          //input(type="hidden" name="_method" value="delete")
                          input(type="hidden" name="id" value=install.id)
                          input(type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button")

        script.
          var sortStatus = 1;
          // search installs
          function search() {
            resetSearch();
            var search = parseString($('#search').val());
            var erase = $('#erase');
            // enable/disable erase button
            if (search.length > 0)
                erase.prop('disabled', false);
            else
                erase.prop('disabled', true);
            // for each install
            $('div.install-thumbnail').each(function () {
                var element = $(this);
                var title = parseString(element.find('div.name').html());
                if (title.indexOf(search) == -1)
                    element.css('display', 'none');
            });
          }

          // resets the search
          function resetSearch() {
            $('div.install-thumbnail').each(function () {
              $(this).css('display', '');
            });
          }

          // cleans the search bar and resets the search
          function cleanSearch() {
            $('#search').val(null);
            $('#erase').prop('disabled', true);
            sortStatus = 0;
            resetSearch();
            sortResults();
          }

          // sort results and change sorting options
          function sortResults() {
            // loop status
            if (++sortStatus > 3)
                sortStatus = 1;
            // loop status icon
            var sort = $('#sort');
            var icone = sort.find('span');
            switch (sortStatus) {
                case 1:
                    sort.attr('title', 'Ordem cronológica');
                    icone.attr('class', 'glyphicon glyphicon-sort');
                    break;
                case 2:
                    sort.attr('title', 'Ordem alfabética ascendente');
                    icone.attr('class', 'glyphicon glyphicon-sort-by-alphabet');
                    break;
                case 3:
                    sort.attr('title', 'Ordem alfabética descendente');
                    icone.attr('class', 'glyphicon glyphicon-sort-by-alphabet-alt');
                    break;
            }
            // sort by element id
            if (sortStatus == 1) {
                $('div.install-thumbnail').sort(function (a, b) {
                    return ($(b).attr('id')) < ($(a).attr('id')) ? 1 : -1;
                }).appendTo($('.listInstalls'));
            }
            // sort by title
            else {
                $('div.install-thumbnail').sort(function (a, b) {
                    if (sortStatus == 2) // asc
                        return ($(b).find('div.name').html()) < ($(a).find('div.name').html()) ? 1 : -1;
                    else // desc
                        return ($(b).find('div.name').html()) > ($(a).find('div.name').html()) ? 1 : -1;
                }).appendTo($('.listInstalls'));
            }
          }




    .container
        .row
            .col-md-12
                h3 install Listing
        .row
            .col-md-12
                if installs
                    table(class='table table-hover table-condensed')
                        tr
                            th Name
                            th Type
                            th Description
                            th Position
                            th
                            th
                            th
                        each install in installs
                            tr(data-id=install.id data-model="install")
                                td #{install.name}
                                td #{install.type}
                                td #{install.description}
                                td #{install.position}
                                td
                                    a(href="/installs/"+install.id  class="btn btn-primary btn-sm" role="button") Show
                                td
                                    a(href="/installs/"+install.id+"/edit"  class="btn btn-primary btn-sm" role="button") Edit
                                td
                                    form(action="/installs/destroy" method="POST")
                                        //input(type="hidden" name="_method" value="delete")
                                        input(type="hidden" name="id" value=install.id)
                                        input(type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button")

        .row
            .col-md-12
                a(href="/installs/new/" class="btn btn-success btn-sm" role="button") New

        hr
