extends ../layout-home
block content
	style(type="text/css").
		#map-canvas {
			width: auto;
			height: 500px;
		}
	.container
		.row
			.col-md-12
				form(class="show")
					.form-group
						h2 a Install
					#{Install}
					.form-group(style="width: 400px;")
						label Name
						input(value=install.name name="name" type="text" class="form-control" disabled)
					.form-group(style="width: 400px;")
						label Type
						input(value=install.type name="type" type="text" class="form-control" disabled)
					.form-group(style="width: 400px;")
						label Description
						input(value=install.description name="description" type="text" class="form-control" disabled)
					.form-group(style="width: 400px;")
						label Position
						input(value=install.position name="position" type="text" class="form-control" disabled)
					.form-group(style="width: 400px;")
						#map-canvas

				a(href="/installs/"+install.id+"/equipments" class="btn btn-default")  Equipments
				| |
				a(href="/installs/"+install.id+"/edit" class="btn btn-default")  Edit
				| |
				a(href="/installs") Back to list

	script(src='/js/maps_point_polygon.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD9eue-dVAWRDx3eL1rfm0ZxtSwdhuivVk')
	script initialize(false)